<!DOCTYPE html>
<html>
  <head>
    <title>Edit Task</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">

      <h2>Edit Task</h2>
      <form action="/tasks/update/<%= task._id%>" method="post" onSubmit="return confirm('Do you really want to update the task ?');">
        <table>
          <tbody>
            <tr>
              <td>Title <span style="color: red;font-weight:900;">*</span></td>
              <td><input type="text" name="title" value="<%= task.title %>"/></td>
            </tr>
            <tr>
              <td>Description <span style="color: red;font-weight:900;">*</span></td>
              <td><textarea name="description"><%= task.description %></textarea></td>
            </tr>
            <tr>
              <td>Assignee <span style="color: red;font-weight:900;">*</span></td>
              <td><input type="text" name="assignee"  value="<%= task.assignee %>"/></td>
            </tr>
            <tr>
              <td>Action plan</td>
              <td><textarea name="actionPlan" placeholder="please enter steps involved"/><%= task.actionPlan %></textarea></td>
            </tr>
            <tr>
              <td>Status</td>
                <td><input type="text" name="status" placeholder="enter: todo/inProgess/review/done" value="<%= task.status %>"/></td>
            </tr>

            <tr>
              <td>Start Date(mm-dd-yyyy) <span style="color: red;font-weight:900;">*</span></td>
                <td><input type="date"  name="startDate"  value= "<%=moment.utc(task.startDate).format("YYYY-MM-DD") %>"/></td>
            </tr>
            <tr>
              <td>End Date(mm-dd-yyyy) <span style="color: red;font-weight:900;">*</span></td>
              <td><input type="date"  name="endDate" value="<%=moment.utc(task.endDate).format("YYYY-MM-DD") %>"/></td>
            </tr>
            <tr>
              <td>Restrospective</td>
              <td><textarea name="retrospective" placeholder="please enter + or - points"/><%= task.retrospective %></textarea></td>
            </tr>
            <tr>
              <td colspan="1"><button type="submit">Update</button></td>
            </tr>

          </tbody>
        </table>
      </form>
      <button id="createButton" onclick="location.href='/tasks';">Tasks</button>
      <button id="createButton" onclick="location.href='/';">Home</button>
    </div>
  </body>
</html>
